<section data-ng-init="vm.topAccounts.loadData()">
    <h1>Top Accounts</h1>

    <hr />
    <div data-ng-if="vm.topAccounts.results.length">
        <div class="row" data-ng-hide="!vm.topAccounts.results.length">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th width="5%">Rank</th>
                                <th class="text-right">Address</th>
                                <th class="text-right">~ Balance</th>
                                <th class="text-right hidden-xs">Supply</th>
                                <th class="text-right hidden-xs hidden-sm">Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="address in vm.topAccounts.results track by $index">
                                <td>{{$index + 1}}</td>
                                <td class="text-right">
                                    <a href="/address/{{ address.address }}">{{address.address}}</a>
                                </td>
                                <td class="text-right hidden-sm hidden-md hidden-lg">{{address.balance | currency:$root.currency:0}} <span class="text-muted">{{$root.currency.symbol}}</span></td>
                                <td class="text-right hidden-xs">{{address.balance | currency:$root.currency:2}} <span class="text-muted">{{$root.currency.symbol}}</span></td>
                                <td class="text-right hidden-xs">{{address.balance | supplyPercent:blockStatus.supply}}%</td>
                                <td class="text-right hidden-xs hidden-sm">
                                    <span class="owner-name">{{address.knowledge.owner}}</span>
                                    <span class="owner-desc text-muted">{{address.knowledge.description}}</span>
                                    <span data-ng-if="!address.knowledge" class="owner-unknown text-muted">N/A</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="progress progress-striped active" data-ng-if="vm.topAccounts.loading">
        <div class="progress-bar progress-bar-loading" style="width: 100%">
            <span>Loading Accounts...</span>
        </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="Less/More Accounts" data-ng-hide="vm.topAccounts.disabled()">
        <div class="btn-group" role="group">
            <button class="btn btn-default" data-ng-disabled="!vm.topAccounts.lessData" data-ng-click="vm.topAccounts.loadLess()">Less</button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-default" data-ng-disabled="!vm.topAccounts.moreData" data-ng-click="vm.topAccounts.loadMore()">More</button>
        </div>
    </div>
</section>