<section>
    <h1>
        Block&nbsp;
        <small>{{vm.block.id}}</small>
    </h1>
    <div class="text-muted" data-ng-if="!vm.block.height">
        <span>Loading Block <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div data-ng-if="vm.block.height">
    <div class="well well-sm ellipsis">
        <strong>Block ID</strong>
        <span class="txid text-muted">{{vm.block.id}}</span>
        <span class="btn-copy" clip-copy="vm.block.id"></span>
    </div>
    <h2>Summary</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><strong>Transactions</strong></td>
                            <td class="text-right">{{vm.block.numberOfTransactions}}</td>
                        </tr>
                        <tr>
                            <td><strong>Confirmations</strong></td>
                            <td class="text-right">{{vm.block.confirmations}}</td>
                        </tr>
                        <tr>
                            <td><strong>Height</strong></td>
                            <td class="text-right">{{vm.block.height}}</td>
                        </tr>
                        <tr>
                            <td><strong>Reward</strong></td>
                            <td class="text-right">{{vm.block.reward | currency:currency}} <span class="text-muted">{{currency.symbol}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Total Fee</strong></td>
                            <td class="text-right">{{vm.block.totalFee | currency:currency}} <span class="text-muted">{{currency.symbol}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Total Forged</strong></td>
                            <td class="text-right">{{vm.block.totalForged | currency:currency}} <span class="text-muted">{{currency.symbol}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Total Amount</strong></td>
                            <td class="text-right">{{vm.block.totalAmount | currency:currency}} <span class="text-muted">{{currency.symbol}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Timestamp</strong></td>
                            <td class="text-right">{{vm.block.timestamp | timestamp}}</td>
                        </tr>
                        <tr data-ng-if="block.nextBlock">
                            <td><strong>Next block</strong></td>
                            <td class="text-right">
                                <a href="/block/{{ vm.block.nextBlock }}">{{ vm.block.nextBlock }}</a>
                            </td>
                        </tr>
                        <tr data-ng-if="vm.block.previousBlock">
                            <td><strong>Previous block</strong></td>
                            <td class="text-right">
                                <a href="/block/{{ vm.block.previousBlock }}">{{ vm.block.previousBlock }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Generated by</strong></td>
                            <td class="text-right">
                                <a href="/address/{{vm.block.generatorId}}">{{vm.block.delegate.username || vm.block.generatorId}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div data-ng-if="vm.block.height" data-ng-init="vm.txs.loadData()">
        <h2>Transactions</h2>
        <div data-ng-include src="'/components/transactions/list.html'"></div>
    </div>
</section>