<div data-ng-controller="ActivityGraph">
  <div class="row">
    <div class="col-xs-12">
      <h1>Activity Graph</h1>
      <p class="text-justify">The following is a live graphical visualisation of the crypti blockchain. Upon initialization only the latest block is shown. Subsequent blocks are added to the graph as they are forged by the network. After reaching a maximum of {{activityGraph.maxBlocks}} blocks, the graph will automatically reset to the current block height and start again.</p>

      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="sigma-canvas" width="512" height="512">
        <div class="hud hud-loading" data-ng-if="activityGraph.loading">
          <div class="text-muted">
            <span>Loading Graph <i class="fa fa-spinner fa-spin"></i></span>
          </div>
        </div>
        <div class="hud hud-node" data-ng-if="nodeSelect.selected()">
          <div class="btn-group" role="group" aria-label="Node Buttons">
            <button type="button" class="btn btn-default btn-lg" ng-click="nodeSelect.remove()" title="Cancel/remove node selection"><span class="glyphicon glyphicon-remove-sign"></span></button>
            <a class="btn btn-default btn-lg" ng-href="{{nodeSelect.href()}}" target="_new" role="button" title="Open selected node in block explorer"><span class="glyphicon glyphicon-new-window"></span></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="btn-group" role="group" aria-label="Camera Buttons">
            <button type="button" class="btn btn-default btn-md" ng-click="cameraMenu.reset()" title="Reset camera position/zoom"><span class="glyphicon glyphicon-camera"></span> Reset Camera</button>
          </div>
        </div>
        <div class="col-xs-6">
          <p class="text-right">Updated every 10 seconds.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <hr class="visible-xs visible-sm">

      <h4>Legend</h4>
      <p class="text-justify">Use the following legend to help identify nodes and their corresponding interactions.</p>

      <span class="label label-default label-account">Account</span>
      <span class="label label-default label-block">Block</span>
      <span class="label label-default label-tx">Tx</span>
      <span class="label label-default label-credit">Credit</span>
      <span class="label label-default label-debit">Debit</span>

      <hr>

      <h4>Navigation</h4>
      <p class="text-justify">To zoom in and out, use the pinch-to-zoom motion on the trackpad/touchscreen or scroll the mouse wheel. To pan around the canvas tap/click and drag. Double tap/click on a node to focus onto it. Single tap/click on a node to inspect it.</p>

      <hr />

      <h4>Statistics</h4>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Txs</th>
            <td>{{statistics.txs}}</td>
          </tr>
          <tr>
            <th>Volume</th>
            <td>{{statistics.volume}} <span class="text-muted">XCR</span></td>
          </tr>
          <tr>
            <th>Blocks</th>
            <td>{{statistics.blocks}}</td>
          </tr>
          <tr>
            <th>Timespan</th>
            <td>{{statistics.beginning | timeSpan:statistics.end}}</td>
          </tr>
          <tr>
            <th>Accounts</th>
            <td>{{statistics.accounts}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
