<section data-ng-controller="AddressController">
  <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}" data-ng-if="address.balance >= 0" data-ng-init="hideSNavbar=0">
    <div class="container" data-ng-if="!hideSNavbar">
      <div class="col-md-8 text-left">
        <h3>Address</h3> {{address.address}}
        <span class="btn-copy" clip-copy="address.address"></span>
      </div>
      <div class="col-md-4">
        <span class="txvalues txvalues-primary"><strong>Final Balance</strong> {{address.balance | lisk}} LSK</span>
      </div>
    </div>
    <div class="hide_snavbar">
      <a href="#" data-ng-click="hideSNavbar=!hideSNavbar">
        <span data-ng-if="hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>
        <span data-ng-if="!hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>
      </a>
    </div>
  </div>
  <h1>Address<small data-ng-if="address.balance >= 0">&nbsp;{{address.balance | lisk}} LSK</small></h1>
  <div class="text-muted" data-ng-if="!(address.balance >= 0)">
    <span>Loading Address <i class="fa fa-spinner fa-spin"></i></span>
  </div>
  <div data-ng-if="address.balance >= 0">
    <div class="well well-sm ellipsis">
      <strong>Address</strong>
      <span class="text-muted">{{address.address}}</span>
      <span class="btn-copy" clip-copy="address.address"></span>
    </div>
    <h2>Summary <small>confirmed</small></h2>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr data-ng-if="address.knowledge">
                <td><strong>Owner</strong></td>
                <td class="ellipsis text-right">
                  <span class="owner-name">{{address.knowledge.owner}}</span>
                  <span class="owner-desc text-muted">{{address.knowledge.description}}</span>
                </td>
              </tr>
              <tr>
                <td><strong>Total balance</strong></td>
                <td class="ellipsis text-right">{{address.balance | lisk}} <span class="text-muted">LSK</span></td>
              </tr>
              <tr>
                <td><strong>USD equivalent</strong></td>
                <td class="ellipsis text-right">{{address.usd | fiat}} <span class="text-muted">USD</span></td>
              </tr>
              <tr>
                <td><strong>Transactions</strong></td>
                <td class="ellipsis text-right"><span title="Incoming"><i class="fa fa-arrow-down text-muted"></i> {{address.incoming_cnt}}</span> / <span title="Outgoing"><i class="fa fa-arrow-up text-muted"></i> {{address.outgoing_cnt}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="delegate" data-ng-if="address.delegate">
      <h2>Delegate</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td><strong>Name</strong></td>
                  <td class="ellipsis text-right">{{address.delegate.username}}</td>
                </tr>
                <tr>
                  <td><strong>Uptime</strong></td>
                  <td class="ellipsis text-right">{{address.delegate.productivity || 0.00}}%</td>
                </tr>
                <tr>
                  <td><strong>Rank / Status</strong></td>
                  <td class="ellipsis text-right">{{address.delegate.rate}} / <span class="text-muted">{{(address.delegate.rate <= 101) ? 'Active' : 'Standby'}}</span></td>
                </tr>
                <tr>
                  <td><strong>Approval</strong></td>
                  <td class="ellipsis text-right">{{address.delegate.approval}}%</td>
                </tr>
                <tr>
                  <td><strong>Forged</strong></td>
                  <td class="ellipsis text-right">{{address.delegate.forged|| 0 | lisk}} <span class="text-muted">LSK</span></td>
        		   </tr>
                <tr>
                  <td><strong>Blocks</strong></td>
                  <td class="ellipsis text-right">{{address.delegate.producedblocks}} <span class="text-muted">({{address.delegate.missedblocks}} missed)</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="delegate-vote" data-ng-if="address.votes">
      <h2>
        <a href="" data-ng-show="!showVotes" data-ng-click="showVotes=!showVotes"><small><i class="fa fa-plus-square-o"></i></small></a>
        <a href="" data-ng-show="showVotes" data-ng-click="showVotes=!showVotes"><small><i class="fa fa-minus-square-o"></i></small></a>
        Votes <small>{{address.votes.length}}</small>
      </h2>
      <div class="row" data-ng-init="showVotes=false" data-ng-show="showVotes">
        <div class="col-md-12">
            <span data-ng-repeat='v in address.votes'>
              <span data-ng-if="!$last">
                <a href="/address/{{v.address}}">{{v | votes}}</a>
                <span class="text-muted">&bull;</span>
              </span>
              <span data-ng-if="$last">
                <a href="/address/{{v.address}}">{{v | votes}}</a>
              </span>
            </span>
        </div>
      </div>
    </div>
    <div class="delegate-vote" data-ng-if="address.voters">
      <h2>
        <a href="" data-ng-show="!showVoters" data-ng-click="showVoters=!showVoters"><small><i class="fa fa-plus-square-o"></i></small></a>
        <a href="" data-ng-show="showVoters" data-ng-click="showVoters=!showVoters"><small><i class="fa fa-minus-square-o"></i></small></a>
        Voters <small>{{address.voters.length}}</small>
      </h2>
      <div class="row" data-ng-init="showVoters=false" data-ng-show="showVoters">
        <div class="col-md-12">
            <span data-ng-repeat='v in address.voters'>
              <span data-ng-if="!$last">
                <a href="/address/{{v.address}}">{{v | votes}}</a>
                <span class="text-muted">&bull;</span>
              </span>
              <span data-ng-if="$last">
                <a href="/address/{{v.address}}">{{v | votes}}</a>
              </span>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div data-ng-if="address.balance >= 0" data-ng-init="txs.loadData()">
    <h2>Transactions</h2>
    <div data-ng-include src="'/views/transaction/list.html'"></div>
  </div>
</section>
