<section data-ng-controller="AddressController">
  <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}" data-ng-show="address.address">
    <div class="container" data-ng-hide="!address.balance">
      <div class="col-md-8 text-left">
        <h3>Address</h3> {{address.address}}
        <span class="btn-copy" clip-copy="address.address"></span>
      </div>
      <div class="col-md-4">
        <span class="txvalues txvalues-primary"><strong>Final Balance</strong> {{address.balance | xcr}} XCR</span>
      </div>
    </div>
    <div class="hide_snavbar">
      <a href="#" data-ng-click="hideSNavbar=!hideSNavbar">
        <span data-ng-show="hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>
        <span data-ng-show="!hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>
      </a>
    </div>
  </div>
  <h1>Address <small data-ng-show="address.address">{{address.balance | xcr}} XCR</small></h1>
  <div class="text-muted" data-ng-if="!address.address">
    <span>Loading Address <span class="loader-gif"></span>
  </div>
  <div data-ng-if="address.address">
    <div class="well well-sm ellipsis">
      <strong>Address</strong>
      <span class="text-muted">{{address.address}}</span>
      <span class="btn-copy" clip-copy="address.address"></span>
    </div>
    <h2>Summary <small>confirmed</small></h2>
    <div class="row" data-ng-hide="!address.address">
      <div class="col-md-12">
        <table class="table table-responsive">
          <tbody>
          <tr>
            <td><strong>Total balance</strong></td>
            <td class="ellipsis text-right">{{address.balance | xcr}} XCR</td>
          </tr>
          <tr>
            <td><strong>USD equivalent</strong></td>
            <td class="ellipsis text-right">{{address.usd | fiat}} USD</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="delegate" data-ng-hide="!address.delegate">
      <h2>Delegate</h2>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-responsive">
            <tbody>
              <tr>
                <td><strong>Username</strong></td>
                <td class="ellipsis text-right">{{address.delegate.username}}</td>
              </tr>
              <tr>
                <td><strong>Productivity</strong></td>
                <td class="ellipsis text-right">{{address.delegate.productivity || 0.00}}%</td>
              </tr>
              <tr>
                <td><strong>Rank / Status</strong></td>
                <td class="ellipsis text-right">{{address.delegate.rate}} / <span class="text-muted">{{(address.delegate.rate <= 101) ? 'Active' : 'Standby'}}</span></td>
              </tr>
              <tr>
                <td><strong>Approval</strong></td>
                <td class="ellipsis text-right">{{getApproval(address.delegate.vote) | number: 2}}%</td>
              </tr>
              <tr>
                <td><strong>Forged</strong></td>
                <td class="ellipsis text-right">{{address.delegate.fees || 0 | xcr}} XCR</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div data-ng-if="address.address" data-ng-controller="AddressController" data-ng-init="loadTxs()">
    <h2>Transactions</h2>
    <div data-ng-include src="'/views/transaction/list.html'"></div>
  </div>
</section>
