<div data-ng-controller="DelegateMonitor">
  <div class="row">
    <div class="col-xs-12">
      <h1>Delegate Monitor</h1>

      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left delegates">
                <p class="small-title">Delegates</p>
                <p class="big-details">
                  <span class="total-delegates">{{totalDelegates || 0}}</span>
                </p>
                <p class="text-muted total-active">{{totalActive || 0}} active delegates</p>
                <p class="text-muted total-standby">{{totalStandby || 0}} delegates on standby</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left last-block">
                <p class="small-title">Last Block By</span>
                <p class="big-details" data-ng-switch="!!lastBlock">
                  <a data-ng-href="/address/{{lastBlock.delegate.address}}" data-ng-switch-when="true">{{lastBlock.delegate.username}}</a>
                  <span class="text-muted" data-ng-switch-when="false">N/A</span>
                </p>
                <p class="text-muted" data-ng-switch="!!lastBlock">
                  <a data-ng-href="/block/{{lastBlock.id}}" data-ng-switch-when="true">{{lastBlock.id}}</a>
                  <span class="text-muted" data-ng-switch-when="false">N/A</span>
                </p>
                <p class="text-muted">
                  <span class="lisk">{{lastBlock.totalForged || 0 | lisk}} LSK forged</span>
                  <span class="num-trans">from {{lastBlock.numberOfTransactions || 0}} transactions</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="latest-votes">
                <p class="small-title">Next Forgers</span>
                <div>
                  <div data-ng-if="!nextForgers">
                    <td colspan="4">Waiting for next forgers <i class="fa fa-spinner fa-spin"></i></td>
                  </div>
                  <span data-ng-repeat='v in nextForgers track by $index'>
                  <div data-ng-if="$first">
                    <p class="big-details">
                      <a data-ng-href="/address/{{v.address}}">{{v.username}}</a>
                    </p>
                  </div>
                  <span data-ng-if="!$first && !$last">
                    <a data-ng-href="/address/{{v.address}}">{{v.username}}</a>
                    <span class="text-muted">&bull;</span>
                  </span>
                  <span data-ng-if="$last">
                    <a data-ng-href="/address/{{v.address}}">{{v.username}}</a>
                  </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left total-forged">
                <p class="small-title">Total Forged <span class="text-muted">(LSK)</span></p>
                <p class="big-details">
                  <span class="lisk">{{totalForged || 0 | lisk}}</span>
                </p>
                <p class="text-muted total-active">between {{totalActive || 0 }} active delegates</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left best-forger">
                <p class="small-title">Best Forger</p>
                <p class="big-details" data-ng-switch="!!bestForger">
                  <a data-ng-href="/address/{{bestForger.address}}" data-ng-switch-when="true">{{bestForger.username}}</a>
                  <span class="text-muted" data-ng-switch-when="false">N/A</span>
                </p>
                <p class="text-muted lisk">{{bestForger.forged || 0 | lisk}} LSK forged</p>
                <p class="text-muted time-since">since registration</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left best-productivity">
                <p class="small-title">Best Productivity</p>
                <p class="big-details">{{bestProductivity.productivity || 0}}%</p>
                <p data-ng-switch="!!bestProductivity">
                  <span class="text-muted">by</span>
                  <a data-ng-href="/address/{{bestProductivity.address}}" data-ng-switch-when="true">{{bestProductivity.username}}</a>
                  <span class="text-muted" data-ng-switch-when="false">N/A</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left worst-productivity">
                <p class="small-title">Worst Productivity</p>
                <p class="big-details">{{worstProductivity.productivity || 0}}%</p>
                <p data-ng-switch="!!worstProductivity">
                  <span class="text-muted">by</span>
                  <a data-ng-href="/address/{{worstProductivity.address}}" data-ng-switch-when="true">{{worstProductivity.username}}</a>
                  <span class="text-muted" data-ng-switch-when="false">N/A</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="latest-votes">
                <p class="small-title">Latest Votes</span>

                <div class="table-responsive">
                  <table class="table table-condensed votes">
                    <thead>
                      <tr>
                        <th>Voter</th>
                        <th class="hidden-xs">Transaction</th>
                        <th>Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-if="!votes">
                        <td colspan="4">Waiting for votes <i class="fa fa-spinner fa-spin"></i></td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr data-ng-repeat='v in votes track by $index'>
                        <td class="voter">
                          <a data-ng-href="/address/{{v.senderId}}">{{v.delegate.username || v.senderId}}</a>
                        </td>
                        <td class="tx hidden-xs">
                          <a class="ellipsis" data-ng-href="/tx/{{v.id}}">{{v.id}}</a>
                        </td>
                        <td class="time-ago">
                          <span class="text-muted">{{v.timestamp | timeAgo}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="newest-delegates">
                <p class="small-title">Newest Delegates</span>

                <div class="table-responsive">
                  <table class="table table-condensed registrations">
                    <thead>
                      <tr>
                        <th>Delegate</th>
                        <th class="hidden-xs">Transaction</th>
                        <th>Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-ng-if="!registrations">
                        <td colspan="4">Waiting for registrations <i class="fa fa-spinner fa-spin"></i></td>
                      </tr>
                    </tbody>
                    <tbody>
                      <tr data-ng-repeat='r in registrations track by $index'>
                        <td class="delegate">
                          <a data-ng-href="/address/{{r.senderId}}">{{r.delegate.username}}</a>
                        </td>
                        <td class="tx hidden-xs">
                          <a class="ellipsis" data-ng-href="/tx/{{r.id}}">{{r.id}}</a>
                        </td>
                        <td class="time-ago">
                          <span class="text-muted">{{r.timestamp | timeAgo}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 big-info">
      <tabset vertical="true" type="pills">
        <tab heading="Active Delegates">
          <p class="small-title">Active Delegates</p>

          <div class="row forging-totals">
            <div class="col-xs-12 col-sm-3">
              <div class="forging-total green">
                <p class="big-details">{{forgingTotals.forging || 0}}</p>
                <span>Forged block recently</span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="forging-total orange">
                <p class="big-details">{{forgingTotals.missedBlock || 0}}</p>
                <span>Missed block recently</span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="forging-total red">
                <p class="big-details">{{forgingTotals.notForging || 0}}</p>
                <span>Not forging</span>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3">
              <div class="forging-total grey">
                <p class="big-details">{{forgingTotals.awaitingSlot || 0}}</p>
                <span>In queue for forging</span>
              </div>
            </div>
          </div>

          <div class="row forging-progress" data-ng-if="forgingProgress">
            <div class="col-xs-12">
              <progressbar max="101" type="forging" value="forgingTotals.processed" data-ng-class="{'progress-striped active': forgingTotals.processed < 101,'inactive': forgingTotals.processed == 101}">
                <p data-ng-if="forgingTotals.processed > 5">
                  <span>{{forgingTotals.processed || 0}} / 101</span>
                  <span data-ng-if="forgingTotals.processed < 101"><i class="fa fa-cog"></i> Updated</span>
                  <span data-ng-if="forgingTotals.processed == 101"><i class="fa fa-check-square"></i> Update-to-date</span>
                </p>
              </progressbar>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><a href="" data-ng-click="tables.active.order('rate')" class="sort-order">Rank <span data-ng-show="tables.active.predicate === 'rate'" data-ng-class="{reverse:tables.active.reverse}"></span></a></th>
                  <th><a href="" data-ng-click="tables.active.order('username')" class="sort-order">Name <span data-ng-show="tables.active.predicate === 'username'" data-ng-class="{reverse:tables.active.reverse}"></span></a></th>
                  <th class="hidden-xs"><a href="" data-ng-click="tables.active.order('address')" class="sort-order">Address <span data-ng-show="tables.active.predicate === 'address'" data-ng-class="{reverse:tables.active.reverse}"></span></a></th>
                  <th class="hidden-xs hidden-sm"><a href="" data-ng-click="tables.active.order('forged')" class="sort-order">Forged <span data-ng-show="tables.active.predicate === 'forged'" data-ng-class="{reverse:tables.active.reverse}"></span></a></th>
                  <th class="hidden-xs hidden-sm"><a href="" data-ng-click="tables.active.order('forgingTime')" class="sort-order">Forging time <span data-ng-show="tables.active.predicate === 'forgingTime'" data-ng-class="{reverse:tables.active.reverse}"></span></a></th>
                  <th><a href="" data-ng-click="tables.active.order('status')" class="sort-order">Status <span data-ng-show="tables.active.predicate === 'forgingStatus.rating'" data-ng-class="{reverse:tables.active.reverse}"></span></a></th>
                  <th><a href="" data-ng-click="tables.active.order('productivity')" class="sort-order">Productivity <span data-ng-show="tables.active.predicate === 'productivity'" data-ng-class="{reverse:tables.active.reverse}"></span></a></th>
                  <th class="hidden-xs"><a href="" data-ng-click="tables.active.order('vote')" class="sort-order">Approval <span data-ng-show="tables.active.predicate === 'vote'" data-ng-class="{reverse:tables.active.reverse}"></span></a></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-if="!activeDelegates">
                  <td colspan="6">Waiting for delegates <i class="fa fa-spinner fa-spin"></i></td>
                </tr>
              </tbody>
              <tbody>
                <tr data-ng-repeat="d in activeDelegates | orderBy:natural(tables.active.predicate):tables.active.reverse track by d.rate">
                  <td>{{d.rate}}</td>
                  <td><a data-ng-if="d.proposal" class="glyphicon glyphicon-user proposal-icon" data-ng-href="https://forum.lisk.io/viewtopic.php?f=48&t={{d.proposal.topic}}" title="{{d.proposal.description}}" target="_new"></a> <a data-ng-href="/address/{{d.address}}">{{d.username}}</a></td>
                  <td class="hidden-xs"><span class="text-muted">{{d.address}}</span></td>
                  <td class="hidden-xs hidden-sm">{{d.forged | lisk}} <span class="text-muted">LSK</span></td>
                  <td class="hidden-xs hidden-sm">{{d.forgingTime | forgingTime}}</td>
                  <td><i forging-status="d.forgingStatus"></i></td>
                  <td>{{d.productivity || 0}}%</td>
                  <td class="hidden-xs">{{d.approval}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </tab>
        <tab heading="Standby Delegates" data-ng-click="getStandby(1)">
          <p class="small-title">Standby Delegates</p>

          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th><a href="" data-ng-click="tables.standby.order('rate')" class="sort-order">Rank <span data-ng-show="tables.standby.predicate === 'rate'" data-ng-class="{reverse:tables.standby.reverse}"></span></a></th>
                  <th><a href="" data-ng-click="tables.standby.order('username')" class="sort-order">Name <span data-ng-show="tables.standby.predicate === 'username'" data-ng-class="{reverse:tables.standby.reverse}"></span></a></th>
                  <th class="hidden-xs"><a href="" data-ng-click="tables.standby.order('address')" class="sort-order">Address <span data-ng-show="tables.standby.predicate === 'address'" data-ng-class="{reverse:tables.standby.reverse}"></span></a></th>
                  <th class="hidden-xs"><a href="" data-ng-click="tables.standby.order('productivity')" class="sort-order">Productivity <span data-ng-show="tables.standby.predicate === 'productivity'" data-ng-class="{reverse:tables.standby.reverse}"></span></a></th>
                  <th class="hidden-xs"><a href="" data-ng-click="tables.standby.order('vote')" class="sort-order">Approval <span data-ng-show="tables.standby.predicate === 'vote'" data-ng-class="{reverse:tables.standby.reverse}"></span></a></th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-if="!standbyDelegates">
                  <td colspan="5">Waiting for delegates <i class="fa fa-spinner fa-spin"></i></td>
                </tr>
              </tbody>
              <tbody>
                <tr data-ng-repeat='d in standbyDelegates | orderBy:natural(tables.standby.predicate):tables.standby.reverse track by d.rate'>
                  <td>{{d.rate}}</td>
                  <td><a data-ng-if="d.proposal" class="glyphicon glyphicon-user proposal-icon" data-ng-href="https://forum.lisk.io/viewtopic.php?f=48&t={{d.proposal.topic}}" title="{{d.proposal.description}}" target="_new"></a> <a data-ng-href="/address/{{d.address}}">{{d.username}}</a></td>
                  <td class="hidden-xs"><span class="text-muted">{{d.address}}</span></td>
                  <td class="hidden-xs">{{d.productivity || 0}}%</td>
                  <td class="hidden-xs">{{d.approval}}%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div data-ng-if="pagination.more || pagination.before">
            <button class="btn btn-primary" data-ng-click="getStandby(pagination.previousPage)" data-ng-if="pagination.before">Previous page</button>
            <button class="btn btn-primary" data-ng-click="getStandby(pagination.nextPage)" data-ng-if="pagination.more">Next page</button>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
