<div data-ng-controller="MarketWatcher">
  <div class="row">
    <div class="col-xs-12">
      <h1>Market Watcher</h1>

      <hr />
      <div class="progress progress-striped active" data-ng-hide="statistics">
        <div class="progress-bar progress-bar-info" style="width: 100%">
          <span>Loading Candles / Statistics...</span>
        </div>
      </div>
    <div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-11">
      <tabset justified="true" class="exchanges">
        <tab data-ng-click="setExchange('Bter')">
          <tab-heading>
            <img src="/img/exchanges/bter.png" alt="Bter" />
          </tab-heading>
        </tab>
        <tab data-ng-click="setExchange('Poloniex')">
          <tab-heading>
            <img src="/img/exchanges/poloniex.png" alt="Poloniex" />
          </tab-heading>
        </tab>
      </tabset>
    </div>
    <div class="col-xs-12 col-sm-1">
      <div class="hidden-sm hidden-xs">
        <button type="button" class="btn btn-lg btn-default" data-ng-click="isCollapsed = !isCollapsed" title="Toggle Statistics">
          <i class="fa" data-ng-class="{'fa-chevron-down': isCollapsed, 'fa-chevron-up': !isCollapsed}"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row statistics" data-ng-if="statistics" collapse="isCollapsed">
    <div class="col-xs-12 col-sm-4">
      <div class="row big-info">
        <div class="col-xs-12">
          <div class="pull-left last-price">
            <p class="small-title">Last Price</p>
            <p class="big-details">
              <span class="last-price">{{statistics.last}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row big-info">
        <div class="col-xs-12">
          <div class="pull-left 24-hour-high">
            <p class="small-title">24HR High</p>
            <p class="big-details">
              <span class="24-hour-high">{{statistics.high}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row big-info">
        <div class="col-xs-12">
          <div class="pull-left 24-hour-low">
            <p class="small-title">24HR Low</p>
            <p class="big-details">
              <span class="24-hour-low">{{statistics.low}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row big-info">
        <div class="col-xs-12">
          <div class="pull-left btc-volume">
            <p class="small-title">BTC Volume</p>
            <p class="big-details">
              <span class="btc-volume">{{statistics.btcVolume}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row big-info">
        <div class="col-xs-12">
          <div class="pull-left xcr-volume">
            <p class="small-title">XCR Volume</p>
            <p class="big-details">
              <span class="xcr-volume">{{statistics.xcrVolume}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="row big-info">
        <div class="col-xs-12">
          <div class="pull-left num-trades">
            <p class="small-title">Num Trades</p>
            <p class="big-details">
              <span class="num-trades">{{statistics.numTrades}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <tabset justified="true" class="sections" data-ng-class="{'collapsed': isCollapsed}">
        <tab>
          <tab-heading>
            <i class="fa fa-bar-chart"></i> Stock Chart
          </tab-heading>
          <div class="btn-group btn-group-justified btn-durations" data-ng-if="stockChart">
              <label class="btn btn-default" data-ng-model="duration" btn-radio="'minute'" data-ng-click="setDuration('minute')">Minutes</label>
              <label class="btn btn-default" data-ng-model="duration" btn-radio="'hour'" data-ng-click="setDuration('hour')">Hours</label>
              <label class="btn btn-default" data-ng-model="duration" btn-radio="'day'" data-ng-click="setDuration('day')">Days</label>
          </div>
          <stock-chart></stock-chart>
        </tab>
        <tab>
          <tab-heading>
            <i class="fa fa-area-chart"></i> Depth Chart
          </tab-heading>
          <depth-chart></depth-chart>
        </tab>
        <tab>
          <tab-heading>
            <i class="fa fa-book"></i> Order Book
          </tab-heading>
          <div class="row orders">
            <div class="col-sm-12 col-md-6">
              <div class="table-responsive">
                <table class="table table-hover table-striped bids">
                  <thead>
                    <tr>
                      <th>Bid <span class="text-muted">(BTC)</span></th>
                      <th>Amount <span class="text-muted">(XCR)</span></th>
                      <th>Total <span class="text-muted">(BTC)</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-if="!orders.bids">
                      <td colspan="6">Waiting for bids <i class="fa fa-spinner fa-spin"></i></td>
                    </tr>
                    <tr data-ng-repeat='o in orders.bids track by $index'>
                      <td>{{o[0] | number:8}}</td>
                      <td>{{o[1] | number:8}}</td>
                      <td>{{o[0] * o[1] | number:8}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="table-responsive">
                <table class="table table-hover table-striped asks">
                  <thead>
                    <tr>
                      <th>Ask <span class="text-muted">(BTC)</span></th>
                      <th>Amount <span class="text-muted">(XCR)</span></th>
                      <th>Total <span class="text-muted">(BTC)</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-if="!orders.asks">
                      <td colspan="6">Waiting for asks <i class="fa fa-spinner fa-spin"></i></td>
                    </tr>
                    <tr data-ng-repeat='o in orders.asks track by $index'>
                      <td>{{o[0] | number:8}}</td>
                      <td>{{o[1] | number:8}}</td>
                      <td>{{o[0] * o[1] | number:8}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>
