<div data-ng-controller="NetworkMonitor">
  <div class="row">
    <div class="col-xs-12">
      <h1>Network Monitor</h1>

      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left active-nodes">
                <p class="small-title">Connected Peers</p>
                <p class="big-details">
                  <span class="connected-peers">{{counter.connected || 0}}</span>
                  <span class="text-muted">&nbsp;/&nbsp;</span>
                  <span class="total-peers">{{counter.total || 0}}</span>
                </p>
                <p class="text-muted disconnected-peers">{{counter.disconnected || 0}} disconnected peers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left last-block">
                <p class="small-title">Last Block</span>

                <div data-ng-if="!lastBlock">
                  <p class="big-details">
                    <span class="text-muted">N/A</span>
                  </p>
                  <p class="text-muted">waiting for block <i class="fa fa-spinner fa-spin"></i></p>
                </div>
                <div data-ng-if="lastBlock">
                  <p class="big-details">
                    <a data-ng-href="/block/{{lastBlock.id}}">{{lastBlock.id}}</a>
                  </p>
                  <p class="text-muted">
                    <span class="lisk">{{lastBlock.totalAmount + lastBlock.totalFee || 0 | lisk}} LSK</span>
                    <span class="num-trans">from {{lastBlock.numberOfTransactions || 0}} transactions</span>
                  </p>
                  <p class="text-muted">{{lastBlock.timestamp | timeAgo}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left best-block">
                <p class="small-title">Best Block</p>

                <div data-ng-if="!bestBlock">
                  <p class="big-details">
                    <span class="text-muted">N/A</span>
                  </p>
                  <p class="text-muted">waiting for blocks <i class="fa fa-spinner fa-spin"></i></p>
                </div>
                <div data-ng-if="bestBlock">
                  <p class="big-details">
                    <a data-ng-href="/block/{{bestBlock.id}}">{{bestBlock.id}}</a>
                  </p>
                  <p class="text-muted">
                    <span class="lisk">{{bestBlock.totalAmount + bestBlock.totalFee || 0 | lisk}} LSK</span>
                    <span class="num-trans">from {{bestBlock.numberOfTransactions || 0}} transactions</span>
                  </p>
                  <p class="text-muted">{{bestBlock.timestamp | timeAgo}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left volume">
                <p class="small-title">Volume <span class="text-muted">(LSK)</span></p>

                <p class="big-details">
                  <span class="volume-amount">{{volume.amount || 0 | lisk}}</span>
                </p>
                <div data-ng-if="!volume.amount">
                  <p class="text-muted">waiting for transactions <i class="fa fa-spinner fa-spin"></i></p>
                </div>
                <div data-ng-if="volume.amount">
                  <p class="text-muted vol-timespan">transferred within {{volume.beginning | timeSpan:volume.end}}</p>
                  <p class="text-muted vol-blocks">from {{volume.txs || 0}} transactions in {{volume.withTxs || 0}} / {{volume.blocks || 0}} blocks</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="map">&nbsp;</div>
    </div>
  </div>
  <div class="row" data-ng-if="peers" data-ng-cloak>
    <div class="col-xs-12 col-sm-6 big-info">
      <p class="small-title">Platforms</p>

      <div class="row platforms">
        <div class="col-xs-4">
          <div class="platform">
            <p class="big-details">
              <img os-icon os="'Darwin'" brand="{ name: 'darwin' }">
              <span class="counter mac-counter">{{counter.platforms.one.counter || 0}}</span>
            </p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="platform">
            <p class="big-details">
              <img os-icon os="'Linux'" brand="{ name: 'linux' }">
              <span class="counter linux-counter">{{counter.platforms.two.counter || 0}}</span>
            </p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="platform">
            <p class="big-details">
              <img os-icon os="'FreeBSD'" brand="{ name: 'freebsd' }">
              <span class="counter freebsd-counter">{{counter.platforms.three.counter || 0}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted text-center">{{counter.platforms.other.counter || 0}} Peers on other platforms.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 big-info">
      <p class="small-title">Versions</p>

      <div class="row versions">
        <div class="col-xs-12">
          <div class="version" data-ng-if="counter.versions.one.num">
            <p class="big-details">
              <span class="version-num">{{counter.versions.one.num || '~'}}</span>
              <span class="counter version-counter">{{counter.versions.one.counter || 0}}</span>
            </p>
          </div>
          <div class="version" data-ng-if="counter.versions.two.num">
            <p class="big-details">
              <span class="version-num">{{counter.versions.two.num || '~'}}</span>
              <span class="counter version-counter">{{counter.versions.two.counter || 0}}</span>
            </p>
          </div>
          <div class="version" data-ng-if="counter.versions.three.num">
            <p class="big-details">
              <span class="version-num">{{counter.versions.three.num || '~'}}</span>
              <span class="counter version-counter">{{counter.versions.three.counter || 0}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted text-center">{{counter.versions.other.counter || 0}} Peers on other versions.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" data-ng-if="peers" data-ng-cloak>
    <div class="col-xs-12 col-sm-12 big-info">
      <p class="small-title">Best heights</p>

      <div class="row heights">
        <div class="col-xs-12">
          <div class="height" data-ng-if="counter.heights.heights[0]">
            <p class="big-details">
              <span class="height-num height-best">{{counter.heights.heights[0] || '~'}}</span>
              <span class="counter height-counter">{{counter.heights.counter[0] || 0}} &bull; {{counter.percents[0] || 0}}%</span>
            </p>
          </div>
          <div class="height" data-ng-if="counter.heights.heights[1]">
            <p class="big-details">
              <span class="height-num">{{counter.heights.heights[1] || '~'}}</span>
              <span class="counter height-counter">{{counter.heights.counter[1] || 0}} &bull; {{counter.percents[1] || 0}}%</span>
            </p>
          </div>
          <div class="height" data-ng-if="counter.heights.heights[2]">
            <p class="big-details">
              <span class="height-num">{{counter.heights.heights[2] || '~'}}</span>
              <span class="counter height-counter">{{counter.heights.counter[2] || 0}} &bull; {{counter.percents[2] || 0}}%</span>
            </p>
          </div>
          <div class="height" data-ng-if="counter.heights.heights[3]">
            <p class="big-details">
              <span class="height-num">{{counter.heights.heights[3] || '~'}}</span>
              <span class="counter height-counter">{{counter.heights.counter[3] || 0}} &bull; {{counter.percents[3] || 0}}%</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted text-center">{{counter.heights.counter[4] || 0}} &bull; {{counter.percents[4] || 0}}% Peers at other heights</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 big-info">
      <tabset justified="true" class="peers">
        <tab>
          <tab-heading><span class="glyphicon glyphicon-ok-sign"></span> Connected Peers</tab-heading>
          <peers peers="peers.connected"></peers>
        </tab>
        <tab>
          <tab-heading><span class="glyphicon glyphicon-remove-sign"></span> Disconnected Peers</tab-heading>
          <peers peers="peers.disconnected"></peers>
        </tab>
      </tabset>
    </div>
  </div>
</div>
