<div data-ng-controller="NetworkMonitor">
  <div class="row">
    <div class="col-xs-12">
      <h1>Network Monitor</h1>

      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left active-nodes">
                <p class="small-title">Connected Peers</p>
                <p class="big-details">
                  <span class="connected-peers">{{counter.connected || 0}}</span>
                  <span class="text-muted">&nbsp;/&nbsp;</span>
                  <span class="total-peers">{{counter.total || 0}}</span>
                </p>
                <p class="text-muted disconnected-peers">{{counter.disconnected || 0}} disconnected peers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left last-block">
                <p class="small-title">Last Block</span>

                <div data-ng-if="!lastBlock">
                  <p class="big-details">
                    <span class="text-muted">N/A</span>
                  </p>
                  <p class="text-muted">waiting for block <i class="fa fa-spinner fa-spin"></i></p>
                </div>
                <div data-ng-if="lastBlock">
                  <p class="big-details">
                    <a data-ng-href="/block/{{lastBlock.id}}" target="_new">{{lastBlock.id}}</a>
                  </p>
                  <p class="text-muted">
                    <span class="xcr">{{lastBlock.totalAmount + lastBlock.totalFee || 0 | xcr}} XCR</span>
                    <span class="num-trans">from {{lastBlock.numberOfTransactions || 0}} transactions</span>
                  </p>
                  <p class="text-muted">{{lastBlock.timestamp | timeAgo}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left best-block">
                <p class="small-title">Best Block</p>

                <div data-ng-if="!bestBlock">
                  <p class="big-details">
                    <span class="text-muted">N/A</span>
                  </p>
                  <p class="text-muted">waiting for blocks <i class="fa fa-spinner fa-spin"></i></p>
                </div>
                <div data-ng-if="bestBlock">
                  <p class="big-details">
                    <a data-ng-href="/block/{{bestBlock.id}}" target="_new">{{bestBlock.id}}</a>
                  </p>
                  <p class="text-muted">
                    <span class="xcr">{{bestBlock.totalAmount + bestBlock.totalFee || 0 | xcr}} XCR</span>
                    <span class="num-trans">from {{bestBlock.numberOfTransactions || 0}} transactions</span>
                  </p>
                  <p class="text-muted">{{bestBlock.timestamp | timeAgo}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left volume">
                <p class="small-title">Volume <span class="text-muted">(XCR)</span></p>

                <p class="big-details">
                  <span class="volume-amount">{{volume.amount || 0 | xcr}}</span>
                </p>
                <div data-ng-if="!volume.amount">
                  <p class="text-muted">waiting for transactions <i class="fa fa-spinner fa-spin"></i></p>
                </div>
                <div data-ng-if="volume.amount">
                  <p class="text-muted vol-timespan">transferred within {{volume.beginning | timeSpan:volume.end}}</p>
                  <p class="text-muted vol-blocks">from {{volume.txs || 0}} transactions in {{volume.withTxs || 0}} / {{volume.blocks || 0}} blocks</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="map">&nbsp;</div>
    </div>
  </div>
  <div class="row" data-ng-if="peers" data-ng-cloak>
    <div class="col-xs-12 col-sm-6 big-info">
      <p class="small-title">Platforms</p>

      <div class="row platforms">
        <div class="col-xs-4">
          <div class="platform">
            <p class="big-details">
              <img os-icon os="Mac" brand="0">
              <span class="counter mac-counter">{{counter.platforms.one.counter || 0}}</span>
            </p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="platform">
            <p class="big-details">
              <img os-icon os="Linux" brand="1">
              <span class="counter linux-counter">{{counter.platforms.two.counter || 0}}</span>
            </p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="platform">
            <p class="big-details">
              <img os-icon os="Windows" brand="2">
              <span class="counter windows-counter">{{counter.platforms.three.counter || 0}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted text-center">{{counter.platforms.unknown.counter || 0}} connected peers running on unknown platforms.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 big-info">
      <p class="small-title">Versions</p>

      <div class="row versions">
        <div class="col-xs-12">
          <div class="version" data-ng-if="counter.versions.one.num">
            <p class="big-details">
              <span class="version-num">{{counter.versions.one.num || '~'}}</span>
              <span class="counter version-counter">{{counter.versions.one.counter || 0}}</span>
            </p>
          </div>
          <div class="version" data-ng-if="counter.versions.two.num">
            <p class="big-details">
              <span class="version-num">{{counter.versions.two.num || '~'}}</span>
              <span class="counter version-counter">{{counter.versions.two.counter || 0}}</span>
            </p>
          </div>
          <div class="version" data-ng-if="counter.versions.three.num">
            <p class="big-details">
              <span class="version-num">{{counter.versions.three.num || '~'}}</span>
              <span class="counter version-counter">{{counter.versions.three.counter || 0}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted text-center">{{counter.versions.unknown.counter || 0}} connected peers running with other versions.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 big-info">
      <p class="small-title">Peers</p>

      <div class="table-responsive">
        <table class="table table-hover table-striped peers">
          <thead>
            <tr>
              <th>IP Address</th>
              <th class="hidden-xs">Hostname</th>
              <th class="hidden-xs">Country</th>
              <th>Status</th>
              <th>Version</th>
              <th>Platform</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-if="!peers">
              <td colspan="4">Waiting for peers <i class="fa fa-spinner fa-spin"></i></td>
            </tr>
          </tbody>
          <tbody data-ng-repeat='(key, value) in peers'>
            <tr class="fader" data-ng-repeat='p in value track by p.ip'>
              <td><span class="text-muted">{{p.ip}}</span></td>
              <td class="hidden-xs"><span class="text-muted ellipsis hostname" title="{{p.location.hostname}}">{{p.location.hostname || 'N/A'}}</span></td>
              <td class="hidden-xs"><span class="flag flag-{{p.location.country_code | lowercase}}" title="{{p.location.country_name}}" /></td>
              <td><span class="peer-state state-{{p.state}}" title="{{p.humanState}}"></span></td>
              <td><span class="text-muted">{{p.version}}</span></td>
              <td><span os-icon os="{{p.os}}" brand="{{p.osBrand}}"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
