<div data-ng-controller="NetworkMonitor">
  <div class="row">
    <div class="col-xs-12">
      <h1>Network Monitor</h1>

      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left active-nodes">
                <p class="small-title">Connected Peers</p>
                <p class="big-details">
                    <span class="connected-peers">{{counter.connected || 0}}</span>
                    <span class="text-muted">&nbsp;/&nbsp;</span>
                    <span class="total-peers">{{counter.total || 0}}</span>
                </p>
                <p class="text-muted disconnected-peers">{{counter.disconnected || 0}} disconnected peers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left last-block">
                <p class="small-title">Last Block</span>
                <p class="big-details">{{lastBlock.id || 0}}</p>
                <p class="text-muted">
                    <span class="xcr">{{lastBlock.totalAmount || 0 | xcr}} XCR</span>
                    <span class="num-trans">from {{lastBlock.numberOfTransactions || 0}} transactions</span>
                </p>
                <p class="text-muted">{{lastBlock.timestamp | timeAgo}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left best-block">
                <p class="small-title">Best Block</p>
                <p class="big-details">{{bestBlock.id || 0}}</p>
                <p class="text-muted">
                    <span class="xcr">{{bestBlock.totalAmount || 0 | xcr}} XCR</span>
                    <span class="num-trans">from {{bestBlock.numberOfTransactions || 0}} transactions</span>
                </p>
                <p class="text-muted">{{bestBlock.timestamp | timeAgo}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="row big-info">
            <div class="col-xs-12">
              <div class="pull-left volume">
                <p class="small-title">Volume</p>
                <p class="big-details">
                  <span class="volume-amount">{{volAmount || 0 | xcr}}</span>
                  <span class="text-muted">XCR</span>
                </p>
                <p class="text-muted vol-beginning">transferred within {{volBeginning | timeDistance:volNow}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="map">&nbsp;</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Peers</h2>

      <table class="table table-hover table-striped peers" style="table-layout: fixed;">
        <thead>
          <tr>
            <th>IP Address</th>
            <th>State</th>
            <th>Version</th>
            <th>OS</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-show="!peers">
            <td colspan="4">Waiting for peers <span class="loader-gif"></span></td>
          </tr>
        </tbody>
        <tbody data-ng-repeat='(key, value) in peers'>
          <tr class="fader" data-ng-repeat='p in value track by p.ip'>
            <td>{{p.dottedQuad}}</td>
            <td>{{p.humanState}}</td>
            <td>{{p.version}}</td>
            <td>{{p.os}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
