<section data-ng-controller="TopAccounts">
  <h1>Top Accounts</h1>
  <div class="text-muted" data-ng-if="!topAccounts">
    <span>Loading Top Accounts <i class="fa fa-spinner fa-spin"></i>
  </div>
  <div data-ng-if="topAccounts">
    <div class="row" data-ng-hide="!topAccounts">
      <div class="col-md-12">
        <table class="table table-hover table-striped table-responsive">
          <thead>
            <tr>
              <th width="5%">Rank</th>
              <th class="text-right hidden-xs">Balance</th>
              <th class="text-right hidden-xs">USD equivalent</th>
              <th class="text-right">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="address in topAccounts track by address.address">
              <td>{{$index + 1}}</td>
              <td class="text-right hidden-xs">{{address.balance | xcr}} XCR</td>
              <td class="text-right hidden-xs">{{address.usd | fiat}} USD</td>
              <td class="text-right"><a href="/address/{{ address.address }}">{{address.address}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2 text-center">
        <qrcode size="160" data="{{address.addrStr}}"></qrcode>
      </div>
    </div>
  </div>
</section>
