<section data-ng-controller="TransactionsController">
  <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}" data-ng-show="tx.id" data-ng-init="hideSNavbar=0">
    <div class="container" data-ng-if="!hideSNavbar">
      <div class="col-md-6 col-lg-7 text-left">
        <h3>Transaction</h3>
        <div class="ellipsis">
          <small>{{tx.id}}</small>
          <span class="btn-copy" clip-copy="tx.id"></span>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 text-right">
        <span data-ng-show="tx.confirmations" class="txvalues txvalues-success">{{tx.confirmations}} Confirmations</span>
        <span data-ng-show="!tx.confirmations" class="txvalues txvalues-danger">Unconfirmed Transaction!</span>
        <span class="txvalues txvalues-primary">{{tx.amount | xcr}} XCR</span>
      </div>
    </div>
    <div class="hide_snavbar">
      <a href="#" data-ng-click="hideSNavbar=!hideSNavbar">
        <span data-ng-show="hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>
        <span data-ng-show="!hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>
      </a>
    </div>
  </div>
  <div data-ng-if="tx.id">
    <h1>Transaction <small>{{tx.id}}</small></h1>
    <div class="progress progress-striped active" data-ng-if="!tx.id">
      <div class="progress-bar progress-bar-info" style="width: 100%">
        <span>Loading Transaction <i class="fa fa-spinner fa-spin"></i></span>
      </div>
    </div>
    <div data-ng-if="tx.id">
      <div class="well well-sm ellipsis">
        <strong>Transaction ID</strong>
        <span class="txid text-muted">{{tx.id}}</span>
        <span class="btn-copy" clip-copy="tx.id"></span>
      </div>
      <h2>Summary</h2>
      <table class="table table-responsive">
        <tbody>
          <tr>
            <td><strong>Confirmations</strong></td>
            <td class="text-muted text-right">{{tx.confirmations || 0}}</td>
          </tr>
          <tr>
            <td><strong>Amount</strong></td>
            <td class="text-muted text-right">{{tx.amount | xcr}} XCR</td>
          </tr>
          <tr>
            <td><strong>Fee</strong></td>
            <td class="text-muted text-right">{{tx.fee | xcr}} XCR</td>
          </tr>
          <tr>
            <td><strong>USD equivalent</strong></td>
            <td class="text-muted text-right">{{tx.usd | fiat}} USD</td>
          </tr>
          <tr>
            <td><strong>Timestamp</strong></td>
            <td class="text-muted text-right">{{tx.timestamp | timestamp}}</td>
          </tr>
          <tr>
            <td><strong>Block </strong></td>
            <td data-ng-show="tx.blockId" class="text-muted text-right">
              <a href="/block/{{tx.blockId}}">{{tx.blockId}}</a>
            </td>
            <td data-ng-show="!tx.blockId" class="text-muted text-right">Unconfirmed</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Details</h2>
    <div class="block-tx" data-ng-if="tx.id">
      <div data-ng-include src="'/views/transaction/tx.html'"></div>
    </div>
  </div>
</section>
