<div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Market Watcher</h1>
            <hr />
        </div>
    </div>

    <div class="alert alert-warning" data-ng-if="vm.exchanges && vm.noExchange">No exchanges available.</div>

    <div class="row" data-ng-show="!vm.noExchange">
        <div class="col-xs-12">
            <div class="progress progress-striped active" data-ng-hide="vm.statistics">
                <div class="progress-bar progress-bar-loading" style="width: 100%">
                    <span>Loading Candles / Statistics...</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-11">
                    <tabset justified="true" class="exchanges">
                        <tab data-ng-repeat='e in vm.exchanges' data-ng-click="vm.setExchange(e)">
                            <tab-heading>
                                <img src="{{vm.exchangeLogos[e]}}" alt="{{e}}" />
                            </tab-heading>
                        </tab>
                    </tabset>
                </div>
                <div class="col-xs-12 col-sm-1">
                    <div class="hidden-sm hidden-xs">
                        <button type="button" class="btn btn-lg btn-default btn-collapse" data-ng-click="vm.isCollapsed = !vm.isCollapsed" title="Toggle Statistics">
                            <i class="fa" data-ng-class="{'fa-chevron-down': vm.isCollapsed, 'fa-chevron-up': !vm.isCollapsed}"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row statistics" data-ng-if="vm.statistics" collapse="vm.isCollapsed">
                <div class="col-xs-12 col-sm-4">
                    <div class="row big-info">
                        <div class="col-xs-12">
                            <div class="pull-left last-price">
                                <p class="small-title">Last Price</p>
                                <p class="big-details">
                                    <span class="last-price">{{vm.statistics.last}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row big-info">
                        <div class="col-xs-12">
                            <div class="pull-left 24-hour-high">
                                <p class="small-title">24HR High</p>
                                <p class="big-details">
                                    <span class="24-hour-high">{{vm.statistics.high}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row big-info">
                        <div class="col-xs-12">
                            <div class="pull-left 24-hour-low">
                                <p class="small-title">24HR Low</p>
                                <p class="big-details">
                                    <span class="24-hour-low">{{vm.statistics.low}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row big-info">
                        <div class="col-xs-12">
                            <div class="pull-left btc-volume">
                                <p class="small-title">BTC Volume</p>
                                <p class="big-details">
                                    <span class="btc-volume">{{vm.statistics.btcVolume}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row big-info">
                        <div class="col-xs-12">
                            <div class="pull-left lisk-volume">
                                <p class="small-title">LSK Volume</p>
                                <p class="big-details">
                                    <span class="lisk-volume">{{vm.statistics.liskVolume}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="row big-info">
                        <div class="col-xs-12">
                            <div class="pull-left num-trades">
                                <p class="small-title">Num Trades</p>
                                <p class="big-details">
                                    <span class="num-trades">{{vm.statistics.numTrades}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <tabset justified="true" class="sections" data-ng-class="{'collapsed': vm.isCollapsed}">
                        <tab select="vm.setTab('stockChart')">
                            <tab-heading>
                                <i class="fa fa-bar-chart"></i> Stock Chart
                            </tab-heading>
                            <div class="btn-group btn-group-justified btn-durations" data-ng-if="vm.stockChart">
                                <label class="btn btn-default" data-ng-model="vm.duration" btn-radio="'minute'" data-ng-click="vm.setDuration('minute')">Minutes</label>
                                <label class="btn btn-default" data-ng-model="vm.duration" btn-radio="'hour'" data-ng-click="vm.setDuration('hour')">Hours</label>
                                <label class="btn btn-default" data-ng-model="vm.duration" btn-radio="'day'" data-ng-click="vm.setDuration('day')">Days</label>
                            </div>
                            <stock-chart data="vm"></stock-chart>
                        </tab>
                        <tab select="vm.setTab('depthChart')">
                            <tab-heading>
                                <i class="fa fa-area-chart"></i> Depth Chart
                            </tab-heading>
                            <depth-chart data="vm"></depth-chart>
                        </tab>
                        <tab select="vm.setTab('orderBook')">
                            <tab-heading>
                                <i class="fa fa-book"></i> Order Book
                            </tab-heading>
                            <div class="row orders">
                                <div class="col-sm-12 col-md-6">
                                    <orders orders="vm.orders.bids" heading="Bid" name="bids"></orders>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <orders orders="vm.orders.asks" heading="Ask" name="asks"></orders>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
