/* Sticky footer styles
-------------------------------------------------- */
@charset "UTF-8";

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Bold.ttf);
    font-weight: 700
}

@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic
}

html, body {
  color: #343844;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #373D42;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
}

h1>small {
  white-space: nowrap;
}

a, a:hover, a:visited, a:focus {
  color: #1F9BDE;
}

/* Bootstrap fix for ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: white;
  background-color: #434752;
}

/* Styling for the ngProgress itself */
#ngProgress {
  background-color: #38AF49 !important;
  box-shadow: none !important;
  color: #38AF49 !important;
  height: 3px !important;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 998;
  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 999;
}

/* QR modal */
#qr-canvas { display: none; }

#qrcode-scanner-video {
  margin: 0 auto 10px auto;
  display: block;
}

#file-input-wrapper {
  padding: 0;
  width: 100%;
}

#file-input-wrapper input {
  opacity: 0;
  padding: 5px;
}

#file-input-wrapper span {
  padding-top: 5px;
  width: 100%;
}

#file-input-wrapper i { display: none; }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 20px auto -51px;
  /* Pad bottom by footer height */
  padding: 0 0 75px;
}

.m10h { margin: 0 10px; }

.m20h { margin: 0 20px; }

.m5v { margin: 5px 0; }

.m20v { margin: 20px 0; }

.m10v { margin: 10px 0; }

.m50v { margin: 50px 0; }

.m10b { margin-bottom: 10px; }

.m10l { margin-left: 10px; }

.vm { vertical-align: middle; }

.pa {position: absolute;}

.pr {position: relative;}

.bgwhite {
  background-color: white;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
  margin-left: 0;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

@media (max-width: 320px) {
  .table-responsive td:first-of-type {
    max-width: 150px;
    overflow: hidden;
  }
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #E8E8E9;
}

#header {
  margin-left: 21px;
  margin-right: 21px;
}

@media (max-width: 767px) {
  #header {
    margin-left: -9px;
    margin-right: 0px;
  }
}

.navbar { min-height: 80px; }

.navbar-collapse {
  overflow: hidden;
}

.navbar-default .navbar-toggle {
  border-color: white;
  margin-top: 20px;
  margin-right: 1px;
  padding: 9px 10px;
}

.navbar-default .navbar-toggle .icon-bar { background-color: white; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: #373D42;}

.navbar-default {
  background-color: #343844;
  margin: 0;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  margin-left: 1px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #434751;
  color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #454954;
  color: white;
}

.navbar-default .navbar-nav>li>a:focus {
  background-color: #434751;
  color: white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #454954;
  color: white;
}

.navbar-nav li.open>a>.caret {
  border-top-width: 0;
  border-bottom: 4px solid white;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav>li>a {
    margin-left: 0px;
    margin-bottom: 1px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    background-color: #454954;
    color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #6E7484;
    color: white;
  }
}

.navbar-form .form-group {
  display: block;
}

.navbar-form {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .status {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-form {
    width: auto;
  }
  .status {
    display: none;
  }
}

.nav-tabs.nav-justified>li>a:hover {
  cursor: pointer;
}

.navbar-default .navbar-header {
  height: 79px;
  line-height: 79px;
}

.navbar-default .navbar-brand {
  color: white;
  padding: 10px;
  height: 76px;
}

.navbar-brand .logo {
  background-image: url(/img/logo.png);
  background-size: 250px 56px;
  background-position: -125px 0px;
  margin-top: 1px;
  height: 56px;
  width: 125px;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
  .navbar-brand .logo {
    background-image: url(/img/logo2x.png);
  }
}

.navbar-form .form-control {
  background-color: #ebeced;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 0;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
  -moz-box-shadow:    1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
  box-shadow:         1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
}

.navbar-nav>li>a {
  padding-top: 22px;
  padding-bottom: 22px;
}

#search-form { color: #9b9d9e; }

#search-form #search { width: 275px; }

#search { font-family: 'Roboto', 'Ubuntu', sans-serif; }

#search.loading {
  color: white;
  background-color: #1F9BDE;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
  from { background-color: #1F9BDE; }
  to { background-color: #38B449; }
}

@keyframes loading {
    from { background-color: #1F9BDE; }
    to { background-color: #38B449; }
}

#search::-webkit-input-placeholder {
  color: #9b9d9e;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
}

#search::-moz-placeholder {
  color: #9b9d9e;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.status {
  float: left;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #454954;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 8px 10px;
  font-size: 12px;
  color: #eee;
  text-align: center;
}

.col-gray {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #F4F4F4;
  border-radius: 5px;
  padding: 14px;
  border: 1px solid #eee;
}

.col-gray-responsive {
  width: auto;
}

.col-gray-fixed {
  margin-top: 15px;
  position: fixed;
  width: 250px;
  border: 1px solid #eee;
  z-index: 1;
}

@media (max-width: 768px) {
  .col-gray-fixed {
    width:100%;
  }
}

@media (max-width: 995px) {
  .col-gray-fixed {
    position:static;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-gray-fixed {
    width: 280px;
  }
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line20 {
  border: 1px solid #D4D4D4;
  margin-bottom: 15px;
}

.line10 {
  border: 1px solid #EAEAEA;
  margin: 10px 0;
}

.block-id {
  background-color: #373D42;
  border: 3px solid white;
  margin: 0 auto;
  width: 165px;
  color: white;
  text-align: center;
}

.block-id span {
  font-size: 40px;
  margin: 30px 0;
}

.block-id h2 {
  color: white;
  font-weight: bold;
  line-height: 30px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.icon-block {
  color: white;
  font-size: 35px;
  margin-top:  10px;
}

.icon-block h3 {
  color: white;
}

.block-tx {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #F4F4F4;
  border-radius: 2px;
  margin: 20px 0 10px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #eee;
}

.btn {
  border-radius: 2px;
}

.btn-primary, a.btn-primary {
  background-color: #343844;
  border: 2px solid #343844;
  color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary,
.btn-success:hover, .btn-success:focus, .btn-success:active,
.btn-success.active, .open .dropdown-toggle.btn-success,
.btn-danger:hover, .btn-danger:focus, .btn-danger:active,
.btn-danger.active, .open .dropdown-toggle.btn-danger {
  background-color: #454954;
  border: 2px solid #454954;
  color: white;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: white;
}

.btn-default {
  background-color: #E7E7E7;
}

.txvalues {
  display: inline-block;
  padding: .7em 2em;
  font-size: 13px;
  text-transform: uppercase;
  font-weight:100;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

@media (max-width: 768px) {
  .txvalues {
    display: block;
    margin: 5px;
  }
}

.txvalues-primary {
  background-color: #343844;
}

.txvalues-default {
  background-color: #EBEBEB;
  color: #333;
}

.txvalues-success {
  background-color: #39B54A;
}

.txvalues-danger {
  background-color: #AC0015;
}

.txvalues-normal {
  background-color: transparent;
  text-transform: none;
  color: #333;
  font-size: 14px;
  font-weight: normal;
}

.progress-bar-info { background-color: #38AF49; }

/* Set the fixed height of the footer here */
#footer {
  background-color: #343844;
  color: white;
  height: 48px;
  overflow: hidden;
  padding-top: 8px;
}

#footer .col-left {
  padding: 0;
  text-align: left;
}

#footer .col-left a {
  margin-right: 20px;
}

#footer .col-right {
  padding: 0;
  text-align: right;
}

#footer .col-right a {
  color: #454954;
  margin-left: 10px;
}

#footer a, #footer a:focus, #footer a:active {
  color: white;
  line-height: 32px;
  display: inline-block;
  font-size: 14px;
}

#footer a:hover {
  color: white;
}

.line-footer { border-top: 2px dashed #ccc; }

.line-bot {
  border-bottom: 2px solid #EAEAEA;
  padding: 0 0 10px 0;
}

.line-mid { padding: 15px;}

.line-top {
  border-top: 1px solid #EAEAEA;
  padding: 15px 0 0 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container { padding: 70px 15px 0; }

#footer > .container {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 767px) {
  #footer > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.code { font-size: 80%; }

.address { font-size: 11px; }

.no_matching {
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: none;
  border: 1px solid #2B2F31;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 275px;
  z-index: 9999;
}

/* Animations */
.fader.ng-enter {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.fader.ng-enter-active { opacity: 1; }

.tx-bg {
  background-color: #F4F4F4;
  left: 0;
  min-height: 340px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -9999;
}

.badge {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  background-color: #999999;
  border-radius: 9px;
  color: white;
  font-size: 12.025px;
  font-weight: bold;
  padding: 1px 9px 2px;
  white-space: nowrap;
}

.badge:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.badge-error { background-color: #b94a48; }

.badge-error:hover { background-color: #953b39; }

.badge-warning { background-color: #f89406; }

.badge-warning:hover { background-color: #c67605; }

.badge-success { background-color: #468847; }

.badge-success:hover { background-color: #356635; }

.badge-info { background-color: #3a87ad; }

.badge-info:hover { background-color: #2d6987; }

.badge-inverse { background-color: #333333; }

.badge-inverse:hover { background-color: #1a1a1a; }

.btn-copy {
  color: #999;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  text-align: center;
}

.btn-expand {
  color: #999;
  vertical-align: middle;
}

.btn-copy:hover, .btn-expand:hover {
  color: #999;
  text-decoration: none;
}

.btn-copy:before {
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f0ea";
}

.btn-copy .tooltip {
  display: block;
  margin-left: 16px;
  margin-top: -22px;
  opacity: 0;
}

.tooltip .tooltip-inner {
  color: white;
  background-color: #39B54A;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #39B54A;
}

.btn-copy.zeroclipboard-is-hover {
}

.btn-copy.zeroclipboard-is-active .tooltip { opacity: 1; }

@media (max-width: 991px) {
  .btn-copy {
    display: none;
  }
}

.txid {
  line-height: 26px;
}

.tx-id {
  background-color: #373D42;
  border: 3px solid white;
  margin: 0 auto;
  width: 165px;
  color: white;
  text-align: center;
}

.tx-id span {
  font-size: 40px;
  margin: 30px 0;
}

.page-header { margin-top: 0; }

.panel { margin-bottom: 1em;}

.panel-body {padding: 0.7em;}

/* Index */

#home .btn-more {
  border-top: 1px solid #ddd;
  margin: 30px auto 0;
  text-align: center;
  width: 90%;
}

#home .btn-more .btn-default {
  margin-top: -23px;
}

@keyframes rotateThis {
  from { transform: scale( 1 ) rotate( 0deg );   }
  to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-webkit-keyframes rotateThis {
  from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
  to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

.icon-rotate {
  animation-name: rotateThis;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.transaction-vin-vout {
}

.v_highlight {
  margin-bottom: 1em;
  padding: 1em 0;
  background-color: #e9e9e9;
  overflow: hidden;
  color: #333;
}

a.v_highlight_more {
  background-color: #F0F7E2;
  color: #333;
}

.secondary_navbar {
  width: 100%;
  background: white;
  position: fixed;
  top: 80px;
  left: 0;
  text-align: center;
  z-index: 1000;
  margin: 0 auto;
  -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
  box-shadow:         0px 1px 4px 0px rgba(0,0,0,0.20);
}

.secondary_navbar .container {
  margin: 0 auto;
  padding: 1.8em 0;
}

.secondary_navbar h3, .secondary_navbar p, .secondary_navbar .lead {
  margin: 0;
}

.secondary_navbar p {
  line-height: 1.9em;
}

.hide_snavbar {
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  position: absolute;
  right: 25px;
  padding: 5px 10px;
  background: white;
  -moz-box-shadow:    0px 2px 3px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
  box-shadow:         0px 2px 3px 0px rgba(0,0,0,0.20);
  display: none;
}

#search-form-mobile {
  margin-top: 20px;
}

#search-form-mobile #search { width: 100%; }

#search-form-mobile .no_matching {
  width: 50%;
}

@media (min-width: 768px) {
  #search { color: #9b9d9e; }
}

.big-info {
  padding-bottom: 23px;
  padding-top: 23px;
}

.big-info p.small-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 6px;
  opacity: 0.5;
}

.big-info p.big-details {
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
}

/* Fades */

.fadein {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  -o-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
