.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #343844;
}

.nav-pills>li>a,
.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
  color: #343844;
  background-color: white;
}

.tab-content {
  padding-top: 50px;
}

.big-details span.total-delegates {
  font-weight: 700;
}

.forging-totals {
  margin-top: 1em;
  margin-bottom: 1em;
}

.forging-total {
  color: white;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
}

.forging-total.grey {
  background-color: #888a85;
}

.forging-total.green {
  background-color: #73d216;
}

.forging-total.orange {
  background-color: #f57900;
}

.forging-total.red {
  background-color: #cc0000;
}

.forging-status {
  font-size: 18px;
  color: #d3d7cf;
}

.tooltip span {
  font-size: 14px;
  font-weight: bold;
}

.tooltip-grey .tooltip-inner {
  background-color: #888a85;
}

.tooltip-grey.left .tooltip-arrow {
  border-left-color: #888a85;
}

.forging-status.green {
  color: #73d216;
}

.tooltip-green .tooltip-inner {
  background-color: #73d216;
}

.tooltip-green.left .tooltip-arrow {
  border-left-color: #73d216;
}

.forging-status.orange {
  color: #f57900;
}

.tooltip-orange .tooltip-inner {
  background-color: #f57900;
}

.tooltip-orange.left .tooltip-arrow {
  border-left-color:  #f57900;
}

.forging-status.red {
  color: #cc0000;
}

.tooltip-red .tooltip-inner {
  background-color: #cc0000;
}

.tooltip-red.left .tooltip-arrow {
  border-left-color:  #cc0000;
}
