.exchanges .tab-content, .sections .tab-content {
  padding: 0;
}

.btn-collapse {
  margin-top: 10px;
}

.sections .nav-tabs>li>a {
  color: #343844;
}

.sections .nav-tabs>li.active>a {
  color: white;
  background-color: #1E9ADD;
}

.sections .table-responsive {
  height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 1em;
  padding: 0.5em;
}

.sections.collapsed {
  padding-top: 1em;
}

.statistics {
  margin-bottom: 1em;
}

.statistics .big-info {
  padding-bottom: 0;
}

#stockChart {
  margin-top: 1em;
}

#stockChart .amChartsButtonSelected {
  background-color: #1E9ADD;
  border-color: #1E9ADD;
}

#stockChart .amChartsEmpty,
#depthChart .amChartsEmpty {
  width: 100%;
  line-height: 500px;
  text-align: center;
  opacity: 0.5;
  font-size: 24px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-transform: uppercase;
}

.btn-durations {
  margin-top: 1em;
}

.btn-durations .active {
  color: white;
  background-color: #1E9ADD;
}

.btn-durations .active:hover {
  color: white;
  background-color: #23adf7;
}

.btn-durations .active:focus {
  color: white;
  background-color: #1b89c4;
}
