.exchanges .tab-content {
  padding: 0;
}

.statistics .big-info {
  padding-bottom: 0;
}

.btn-durations {
  margin-top: 1em;
}

.btn-durations .active {
  color: white;
  background-color: #1E9ADD;
}

.btn-durations .active:hover {
  color: white;
  background-color: #23adf7;
}

.btn-durations .active:focus {
  color: white;
  background-color: #1b89c4;
}

#stockChart {
  margin-top: 1em;
}

#stockChart .amChartsButtonSelected {
  background-color: #1E9ADD;
  border-color: #1E9ADD;
}

#stockChart .amChartsEmpty {
  width: 100%;
  line-height: 500px;
  text-align: center;
  opacity: 0.5;
  font-size: 24px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-transform: uppercase;
}
