.exchanges .tab-content, .sections .tab-content {
  padding-top: 0;
}

.exchanges .nav-tabs.nav-justified>.active>a,
.exchanges .nav-tabs.nav-justified>.active>a:hover,
.exchanges .nav-tabs.nav-justified>.active>a:focus {
  color: #0299eb;
  background-color: white;
}

.btn-collapse {
  margin-top: 10px;
}

.sections .table-responsive {
  height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 1em;
  padding: 0.5em;
}

.sections.collapsed {
  padding-top: 1em;
}

.statistics {
  margin-bottom: 1em;
}

.statistics .big-info {
  padding-bottom: 0;
}

#stockChart {
  margin-top: 1em;
}

#stockChart .amChartsButtonSelected {
  background-color: #0299eb;
  border-color: #0299eb;
}

#stockChart .amChartsEmpty,
#depthChart .amChartsEmpty {
  width: 100%;
  line-height: 500px;
  text-align: center;
  opacity: 0.5;
  font-size: 24px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-transform: uppercase;
  margin-top: 1em;
}

.btn-durations {
  margin-top: 1em;
}

.btn-durations .active {
  color: white;
  background-color: #393C3E;
}

.btn-durations .active:hover {
  color: white;
  background-color: #27292A;
}

.btn-durations .active:focus {
  color: white;
  background-color: #1b89c4;
}

.exchanges img {
  height: 50px;
}
