.big-info {
  padding-bottom: 23px;
  padding-top: 23px;
}

.big-info p.small-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 6px;
  opacity: 0.5;
}

.big-info p.big-details {
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
}

#map {
  width: 100%;
  height: 368px;
  position: relative;
  border: 1px solid #373D42;
}
