.big-details span.connected-peers {
  font-weight: 700;
}

.os-icon {
  display: inline-block;
  vertical-align: middle;
}

.os-0 {
  background-image: url(/img/os/0.png);
}

.os-1 {
  background-image: url(/img/os/1.png);
}

.os-2 {
  background-image: url(/img/os/2.png);
}

.os-3 {
  background-image: url(/img/os/3.png);
}

#map {
  width: 100%;
  height: 368px;
  position: relative;
  border: 1px solid #373D42;
}

#map .leaflet-popup-content p,
#map .leaflet-popup-content span {
  margin: 0;
  padding: 0;
}

#map .leaflet-popup-content p.ip {
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 1px solid #373D42;
}

#map .leaflet-popup-content span.label {
  display: inline-block;
  width: 50px;
  text-align: left;
  color: #373D42;
}

div.platforms {
  text-align: center;
  min-height: 58px;
}

div.platforms .os-icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-size: 48px 48px;
}

div.platforms span.windows-counter {
  color: #00adf3;
}

div.platforms span.mac-counter {
  color: #000000;
}

div.platforms span.linux-counter {
  color: #EC2100;
}

div.versions {
  text-align: center;
  min-height: 58px;
}

div.versions div.version {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

div.versions span.version-num {
  height: 48px;
  line-height: 48px;
  display: inline-block;
  padding: 0px 3px 0px 3px;
  border-radius: 10px;
  color: white;
  background-color: #35393B;
}

div.versions span.counter {
  padding: 3px;
  border-radius: 10px;
  background-color: #E8E8E9;
}

@media (max-width: 1200px) {
  div.versions div.version {
    padding-left: 15px;
    padding-right: 15px;
  }

  div.platforms span.counter,
  div.versions span.counter {
    display: block;
  }

  div.versions span.version-num {
    margin-bottom: 5px;
  }
}

table.peers td {
  overflow: hidden;
}

table.peers td .hostname {
  max-width: 300px;
}

table.peers td .os-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  background-size: 24px 24px;
}

table.peers .peer-state:before {
  font-size: 22px;
  font-family: "Glyphicons Halflings";
}

table.peers .state-2:before {
  content: "\E084";
  color: #73D216;
}

table.peers .state-1:before {
  content: "\E083";
  color: #888A85;
}
