#table-mobile .txvalues {
	width: 100%;
}

/* Override bootstrap settings at <=320px */
#table-mobile td:first-of-type {
    max-width: inherit;
}

@media only screen and (max-width: 995px) {
    
    /* Force table to not be like tables anymore */
	#table-mobile table, 
	#table-mobile thead, 
	#table-mobile tbody, 
	#table-mobile th, 
	#table-mobile td, 
	#table-mobile tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#table-mobile thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#table-mobile tr:first-child {
		border-width: 1px 1px 3px 1px;
	}
	
	#table-mobile tr { 
		border: solid #ccc; 
		border-width: 3px 1px;
	}
	
	#table-mobile tr:last-child {
		border-width:  3px 1px 1px 1px;
	}
 
	#table-mobile td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 40%; 
		white-space: normal;
		text-align:left;
	}
 
	#table-mobile td:before { 
		/* Now like a table header */
		position: absolute;
		top: 8px;
		left: 6px;
		width: 35%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
	
	#table-mobile td:first-child:before { 
		top: 11px;
	}
	
	#table-mobile .txvalues {
		width: inherit;
	}
 
	/* Label the data */
	#table-mobile td:before {
		content: attr(data-title);
	}
}
