.big-details span.connected-peers {
  font-weight: 700;
}

.os-icon {
  display: inline-block;
  vertical-align: middle;
}

.os-darwin {
  background-image: url('../../assets/img/os/darwin.png');
}

.os-linux {
  background-image: url('../../assets/img/os/linux.png');
}

.os-win {
  background-image: url('../../assets/img/os/win.png');
}

.os-freebsd {
  background-image: url('../../assets/img/os/freebsd.png');
}

.os-unknown {
  background-image: url('../../assets/img/os/unknown.png');
}

#map {
  width: 100%;
  height: 368px;
  position: relative;
  border: 1px solid #393C3E;
}

#map .leaflet-popup-content p,
#map .leaflet-popup-content span {
  margin: 0;
  padding: 0;
}

#map .leaflet-popup-content p.ip {
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 1px solid #393C3E;
}

#map .leaflet-popup-content span.label {
  display: inline-block;
  width: 50px;
  text-align: left;
  color: #393C3E;
}

div.platforms {
  text-align: center;
  min-height: 58px;
}

div.platforms .os-icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-size: 48px 48px;
}

div.platforms span.windows-counter {
  color: #00adf3;
}

div.platforms span.mac-counter {
  color: #000000;
}

div.platforms span.linux-counter {
  color: #EC2100;
}

div.platforms span.freebsd-counter {
  color: #FF3300;
}

div.versions,
div.heights {
  text-align: center;
  min-height: 58px;
}

div.versions div.version,
div.heights div.height {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

div.versions span.version-num {
  height: 48px;
  line-height: 48px;
  display: inline-block;
  padding: 0px 3px 0px 3px;
  border-radius: 10px;
  color: white;
  background-color: #35393B;
}

div.versions span.counter,
div.heights span.counter {
  padding: 3px;
  border-radius: 10px;
  background-color: #E8E8E9;
}

div.heights span.height-num {
  background-color: #35393b;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 3px;
}

div.heights span.height-best {
  background-color: green;
}

@media (max-width: 1200px) {
  div.versions div.version {
    padding-left: 15px;
    padding-right: 15px;
  }

  div.platforms span.counter,
  div.heights span.counter,
  div.versions span.counter {
    display: block;
  }

  div.versions span.version-num {
    margin-bottom: 5px;
  }
  div.heights span.height-num {
    margin-bottom: 5px;
  }
}

.peers .tab-content {
  padding-top: 1em;
}

.peers td {
  overflow: hidden;
}

.peers td .hostname {
  max-width: 300px;
}

.peers td .os-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  background-size: 24px 24px;
}

.peers .peer-state:before {
  font-size: 22px;
  font-family: "Glyphicons Halflings";
}

.peers .state-2:before {
  content: "\E084";
  color: #7CB342;
}

.peers .state-1:before {
  content: "\E083";
  color: #5f696e;
}

.peers td .broadhash {
  max-width: 355px;
}
