#sigma-canvas {
  width: 100%;
  height: 512px;
  position: relative;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid #393C3E;
}

#sigma-canvas div.hud {
  position: absolute;
  padding: 12px;
  z-index: 512;
}

#sigma-canvas div.hud-node {
  width: 150px;
  top: 0px;
  right: 0px;
  text-align: center;
  background-color: #393C3E;
  opacity: 0.9;
}

span.label-account {
  background-color: #0288d1;
}

span.label-block {
  background-color: #f57c00;
}

span.label-tx {
  background-color: #5f696e;
}

span.label-credit {
  background-color: #7CB342;
}

span.label-debit {
  background-color: #d32f2f;
}