<section>
    <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}"
        data-ng-if="vm.address.balance" data-ng-init="hideSNavbar=0">
        <div class="container" data-ng-if="!hideSNavbar">
            <div class="col-md-8 text-left">
                <h3>Address</h3> {{vm.address.address}}
                <span class="btn-copy" clip-copy="vm.address.address"></span>
            </div>
            <div class="col-md-4">
                <span class="txvalues txvalues-primary"><strong>Final Balance</strong> {{vm.address.balance | currency:$root.currency:$root.decimalPlaces}} {{$root.currency.symbol}}</span>
            </div>
        </div>
        <div class="hide_snavbar">
            <a href="#" data-ng-click="hideSNavbar=!hideSNavbar">
                <span data-ng-if="hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>
                <span data-ng-if="!hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>
            </a>
        </div>
    </div>
    <div class="text-muted" data-ng-if="!vm.address.balance">
        <span>Loading Address <i class="fa fa-spinner fa-spin"></i></span>
    </div>
    <h2>
        Address Summary&nbsp;
        <small data-ng-if="vm.address.secondSignature" data-uib-tooltip="Second signature">
            <i class="glyphicon glyphicon-lock"></i>
        </small>
        <small data-ng-if="vm.address.multisignatures && vm.address.multisignatures.length" data-uib-tooltip="Multi Signature">
            <i class="glyphicon glyphicon-info-sign"></i>
        </small>
    </h2>
    <div class="row">
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table summary">
                    <tbody>
                        <tr data-ng-if="vm.address.knowledge">
                            <td><strong>Owner</strong></td>
                            <td class="text-right">
                                <span class="owner-name">{{vm.address.knowledge.owner}}</span>
                                <span class="owner-desc text-muted">{{vm.address.knowledge.description}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Address</strong></td>
                            <td class="text-right">
                                <span>{{vm.address.address}}&nbsp;<span class="btn-copy" clip-copy="vm.address.address"></span></span>
                            </td>
                        </tr>
                        <tr class="hidden-xs" data-ng-if="vm.address.publicKey">
                            <td><strong>Public Key</strong></td>
                            <td class="text-right">
                                {{vm.address.publicKey}}&nbsp;
                                <span class="btn-copy" clip-copy="vm.address.publicKey"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total balance</strong></td>
                            <td class="text-right">{{vm.address.balance | currency:$root.currency:$root.decimalPlaces}} <span class="text-muted">{{$root.currency.symbol}}</span></td>
                        </tr>
                        <tr>
                            <td><strong>Transactions</strong></td>
                            <td class="ellipsis text-right">
                                <span title="Incoming"><i class="fa fa-arrow-down text-success"></i> {{vm.address.incoming_cnt}}</span>
                                <span title="Outgoing"><i class="fa fa-arrow-up text-danger"></i> {{vm.address.outgoing_cnt}}</span>
                            </td>
                        </tr>
                        <tr ng-if="vm.address.delegate || proposal">
                            <td><strong>Delegate</strong></td>
                            <td class="text-right">
                                <a class="glyphicon glyphicon-user" data-ng-if="vm.address.delegate.username | proposal:$root.delegateProposals" data-ng-href="https://forum.lisk.io/viewtopic.php?f=48&t={{vm.address.delegate.username | proposal:$root.delegateProposals: 'topic'}}" title="{{vm.address.delegate.username | proposal:$root.delegateProposals: 'description'}}" target="_blank"></a>
                                <a data-account-href="vm.address.delegate" data-type="delegate">{{vm.address.delegate.username}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="hidden-sm hidden-md hidden-lg hidden-xl pk-mobile-style" data-ng-if="vm.address.publicKey">
                    <span class="pk-mobile-display"><strong>Public&nbsp;Key</strong>&nbsp;&nbsp;{{vm.address.publicKey}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <qrcode size="160" data="{{vm.address.address}}"></qrcode>
            <br> (Scan for Address)
        </div>
    </div>

    <votes data-votes="vm.address.votes"></votes>

    <div data-ng-if="vm.address.balance" data-ng-init="vm.txs.loadData()">
        <h2>Transactions</h2>
        <section>
            <nit-advanced-searchbox
                ng-model="vm.searchParams"
                parameters="vm.availableSearchParams"
                parameters-display-limit="vm.parametersDisplayLimit"
                placeholder="Search...">
            </nit-advanced-searchbox>
            <div ng-if="vm.invalidParams" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Please provide a valid address for sender id and/or recipient id. Username is not accepted.
            </div>
        </section>
        <div class="btn-group btn-group-justified transactions-filter-header" role="group"
            aria-label="All/Sent/Received Transactions" data-ng-class="{disabled: vm.direction === 'search'}">
            <div class="btn-group" role="group">
                <button class="btn btn-default" data-ng-disabled="!vm.direction" data-ng-click="vm.filterTxs();vm.txs.loadData();vm.onFiltersUsed();">All</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default sent-tab" data-ng-disabled="vm.direction==='sent'" data-ng-click="vm.filterTxs('sent');vm.txs.loadData();vm.onFiltersUsed();">Sent</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default received-tab" data-ng-disabled="vm.direction==='received'" data-ng-click="vm.filterTxs('received');vm.txs.loadData();vm.onFiltersUsed();">Received</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-default received-tab" data-ng-disabled="vm.direction==='others'" data-ng-click="vm.filterTxs('others');vm.txs.loadData();vm.onFiltersUsed();">Others</button>
            </div>
        </div>
        <transactions-list data-txs="vm.txs" data-address="vm.address.address"></transactions-list>
    </div>
 </section>
