<div class="alert alert-warning" data-ng-if="!vm.txs.loading && !vm.txs.results.length">There are no transactions involving this {{vm.txs.parent}}.</div>
<div id="table-mobile" class="table-responsive" data-ng-if="vm.txs.results.length">
    <table class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Date</th>
                <th>Sender</th>
                <th>Recipient</th>
                <th>Amount</th>
                <th>Fee</th>
                <th>Confirmations</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-if="vm.txs.results.length" data-ng-repeat="tx in vm.txs.results track by tx.id" data-ng-include="'/views/transaction/tx.html'">
            </tr>
        </tbody>
    </table>
</div>
<div class="progress progress-striped active" data-ng-if="vm.txs.loading">
    <div class="progress-bar progress-bar-loading" style="width: 100%">
        <span>Loading Transactions...</span>
    </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="Less/More Transactions" data-ng-hide="vm.txs.disabled()">
    <div class="btn-group" role="group">
        <button class="btn btn-default" data-ng-disabled="!txs.lessData" data-ng-click="vm.txs.loadLess()">Less</a>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-default" data-ng-disabled="!txs.moreData" data-ng-click="vm.txs.loadMore()">More</a>
    </div>
</div>