<div class="container fadein">
    <div data-ng-controller="HeaderCtrl" id="header" role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target=".navbar-collapse" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <div class="logo" title="Lisk"><img src="/img/logo.png"></div>
            </a>
        </div>
        <div class="collapse navbar-collapse" collapse="$root.isCollapsed">
            <form id="search-form" data-ng-controller="SearchCtrl as sch" class="navbar-form navbar-left hidden-xs" role="search" data-ng-submit="sch.search()">
                <div class="form-group" data-ng-class="{'has-error': sch.badQuery}">
                    <input id="search" type="text" class="form-control" data-ng-model="sch.q"
                        data-ng-class="{'loading': sch.loading}" placeholder="Find a block, transaction, address or delegate"
                        data-ng-submit="sch.search()">
                </div>
                <div class="no_matching text-danger" data-ng-if="sch.badQuery">No matching records found!</div>
            </form>
            <div class="status" data-ng-show="blockStatus">
                <span class="height"><strong>Height: </strong> {{blockStatus.height}}</span>
                <span class="supply">&middot; <strong>Supply: </strong> {{blockStatus.supply | lisk | number:0}}</span>
                <span class="lisk-nethash">&middot; <strong>Nethash: </strong> {{blockStatus.nethash | nethash}}</span>
                <p>
                    <span class="lisk-btc"><strong>LSK/BTC: </strong> {{currency.tickers.LSK.BTC || 'N/A'}}</span>
                    <span class="lisk-usd">&middot; <strong>LSK/{{currency.tickers.LSK[currency.symbol] && currency.symbol !== 'BTC' ? currency.symbol : 'USD'}}: </strong> {{currency.tickers.LSK[currency.symbol] && currency.symbol !== 'BTC' ? (currency.tickers.LSK[currency.symbol] | number:4) : (currency.tickers.LSK.USD | number:4) || 'N/A'}}</span>
                </p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" dropdown data-ng-controller="CurrencyCtrl as cc">
                    <a class="dropdown-toggle" dropdown-toggle href="#">
                        {{currency.symbol}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a data-ng-click="cc.setCurrency('LSK')" data-ng-class="{active: currency.symbol == 'LSK'}">LSK</a>
                        </li>
                        <li data-ng-if="currency.tickers.LSK" data-ng-repeat="(key, value) in currency.tickers.LSK">
                            <a data-ng-click="cc.setCurrency(key)" data-ng-class="{active: currency.symbol == {{key}}}">{{key}}</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" dropdown>
                    <a href class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/topAccounts">Top Accounts</a>
                        </li>
                        <li>
                            <a href="/activityGraph">Activity Graph</a>
                        </li>
                        <li>
                            <a href="/delegateMonitor">Delegate Monitor</a>
                        </li>
                        <li data-ng-if="marketWatcher">
                            <a href="/marketWatcher">Market Watcher</a>
                        </li>
                        <li>
                            <a href="/networkMonitor">Network Monitor</a>
                        </li>
                        <li>
                            <a href="https://login.lisk.io" target="_blank">Web Login</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>