<div id="footer" role="navigation">
    <div class="container">
        <div class="row">
        <div class="col-left col-xs-6">
            <a href="https://lisk.io" target="_blank" title="Official Lisk Website">Website</a>
            <a href="https://forum.lisk.io" target="_blank" title="Official Lisk Forum">Forum</a>
            <a href="https://bitcointalk.org/index.php?topic=1346646" target="_blank" title="Bitcoin Talk Thread">BTT Thread</a>
        </div>
        <div class="col-right col-xs-6">
            <a href="https://www.reddit.com/r/Lisk/" target="_blank" title="Reddit"><i class="fa fa-reddit-square fa-2x"></i></a>
            <a href="https://twitter.com/LiskHQ" target="_blank" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://github.com/LiskHQ/lisk-explorer" target="_blank" title="Github"><i class="fa fa-github fa-2x"></i></a>
        </div>
        </div>
    </div>
</div>