<div id="footer" role="navigation">
    <div class="container">
        <div class="row">
        <div class="col-left col-sm-8">
            <a href="https://lisk.io" target="_blank" title="Official Lisk Website" class="link website-link">Website</a>
            <a href="https://forum.lisk.io" target="_blank" title="Official Lisk Forum" class="link forum-link">Forum</a>
            <a href="https://bitcointalk.org/index.php?topic=1346646" target="_blank" title="Bitcoin Talk Thread" class="link btt-thread-link">BTT Thread</a>
            <div class="dropup decimal-places-selector" data-uib-dropdown>
                <a href id="decimal-points-dropdown" class="dropdown-toggle decimal-places-menu"
                data-uib-dropdown-toggle data-aria-haspopup="true"
                data-ng-class="{disabled: ($root.currency.symbol !== 'BTC' && $root.currency.symbol !== 'LSK')}"
                role="button" data-aria-expanded="false">Decimal places <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" data-aria-labelledby="decimal-points-dropdown">
                    <li data-ng-class='{active: $root.decimalPlaces === undefined}'>
                        <a data-ng-click='$root.decimalPlaces = undefined;' class='trim-floating-points'>Trim floating points</a>
                    </li>
                    <li data-ng-class='{active: $root.decimalPlaces === 4}'>
                        <a data-ng-click='$root.decimalPlaces = 4;' class='round-to-4'>Round to 4</a>
                    </li>
                    <li data-ng-class='{active: $root.decimalPlaces === 8}'>
                        <a data-ng-click='$root.decimalPlaces = 8;' class='show-all-8'>Show all 8</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-right col-sm-4 hidden-xs">
            <a href="https://www.reddit.com/r/Lisk/" target="_blank" title="Reddit" class="link reddit-link"><i class="fa fa-reddit-square fa-2x"></i></a>
            <a href="https://twitter.com/LiskHQ" target="_blank" title="Twitter" class="link twitter-link"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="https://github.com/LiskHQ/lisk-explorer" target="_blank" title="Github" class="link github-link"><i class="fa fa-github fa-2x"></i></a>
        </div>
        </div>
    </div>
</div>
