.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #393C3E;
}

.nav-pills>li>a,
.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
  color: #393C3E;
  background-color: white;
}

.tab-content {
  padding-top: 50px;
}

.big-details span.total-delegates {
  font-weight: 700;
}

.forging-totals {
  margin-top: 1em;
  margin-bottom: 1em;
}

.forging-total {
  color: white;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0px;
}

.forging-total.grey {
  background-color: rgba(95, 105, 110, 0.9);
}

.forging-total.green {
  background-color: rgba(124, 179, 66, 0.9);
}

.forging-total.orange {
  background-color: rgba(245, 124, 0, 0.9);
}

.forging-total.red {
  background-color: rgba(211, 47, 47, 0.9);
}

.progress {
	height: 40px;
  border-radius: 0;
}

.progress-bar {
	line-height: 40px;
  background-color: rgba(3, 136, 208, 0.9);
}

.progress {
  background: -moz-linear-gradient(325deg, rgba(45,108,162,1) 0%, rgba(2,136,209,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(45,108,162,1)), color-stop(100%, rgba(2,136,209,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(325deg, rgba(45,108,162,1) 0%, rgba(2,136,209,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(325deg, rgba(45,108,162,1) 0%, rgba(2,136,209,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(325deg, rgba(45,108,162,1) 0%, rgba(2,136,209,1) 100%); /* ie10+ */
	background: linear-gradient(125deg, rgba(45,108,162,1) 0%, rgba(2,136,209,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d6ca2', endColorstr='#0288d1',GradientType=1 ); /* ie6-9 */
}

.forging-status {
  font-size: 18px;
  color: #d3d7cf;
}

.tooltip span {
  font-size: 14px;
  font-weight: bold;
}

.tooltip-grey .tooltip-inner {
  background-color: #5f696e !important;
}

.tooltip-grey.left .tooltip-arrow {
  border-left-color: #5f696e;
}

.forging-status.green {
  color: #7CB342;
}

.tooltip-green .tooltip-inner {
  background-color: #7CB342 !important;
}

.tooltip-green.left .tooltip-arrow {
  border-left-color: #7CB342;
}

.forging-status.orange {
  color: #f57c00;
}

.tooltip-orange .tooltip-inner {
  background-color: #f57c00 !important;
}

.tooltip-orange.left .tooltip-arrow {
  border-left-color:  #f57c00;
}

.forging-status.red {
  color: #d32f2f;
}

.tooltip-red .tooltip-inner {
  background-color: #d32f2f;
}

.tooltip-red.left .tooltip-arrow {
  border-left-color:  #d32f2f;
}

.best-productivity {
  width: 100%;
}

.best-productivity-input {
  width: 50%;
  float: left;
}

.big-details .lisk, .total-delegates, .best-productivity-input .ng-binding {
  color: #5f696e;
  font-weight: 700;
}