<div class="alert alert-warning" data-ng-if="!txs.loading && !txs.results.length">There are no transactions involving this {{txs.parent}}.</div>
<div id="table-mobile" class="table-responsive" data-ng-if="txs.results.length">
    <table class="table transactions">
        <thead>
            <tr>
                <th role="button" data-ng-class="filter.predicate === 'id' ? 'text-primary' : 'text-muted'" data-ng-click="filter.order('id')">
                    <span>Transaction ID</span><i class="glyphicon pull-right" data-ng-class="filter.reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-bottom'" ng-if="filter.predicate === 'id'" /></th>
                <th role="button" data-ng-class="filter.predicate === 'date' ? 'text-primary' : 'text-muted'" data-ng-click="filter.order('date')">
                    <span>Date</span><i class="glyphicon pull-right" data-ng-class="filter.reverse ? 'glyphicon-triangle-top' : 'glyphicon-triangle-bottom'" ng-if="filter.predicate === 'date'" /></th>
                <th role="button" data-ng-class="filter.predicate === 'senderId' ? 'text-primary' : 'text-muted'" data-ng-click="filter.order('senderId')">
                    <span>Sender</span><i class="glyphicon pull-right" data-ng-class="filter.reverse ? 'glyphicon-triangle-top' : 'glyphicon-triangle-bottom'" ng-if="filter.predicate === 'senderId'" /></th>
                <th role="button" data-ng-class="filter.predicate === 'recipientId' ? 'text-primary' : 'text-muted'" data-ng-click="filter.order('recipientId')">
                    <span>Recipient</span><i class="glyphicon pull-right" data-ng-class="filter.reverse ? 'glyphicon-triangle-top' : 'glyphicon-triangle-bottom'" ng-if="filter.predicate === 'recipientId'" /></th>
                <th role="button" data-ng-class="filter.predicate === 'amount' ? 'text-primary' : 'text-muted'" data-ng-click="filter.order('amount')">
                    <span>Amount</span><i class="glyphicon pull-right" data-ng-class="filter.reverse ? 'glyphicon-triangle-top' : 'glyphicon-triangle-bottom'" ng-if="filter.predicate === 'amount'" /></th>
                <th role="button" data-ng-class="filter.predicate === 'fee' ? 'text-primary' : 'text-muted'" data-ng-click="filter.order('fee')">
                    <span>Fee</span><i class="glyphicon pull-right" data-ng-class="filter.reverse ? 'glyphicon-triangle-top' : 'glyphicon-triangle-bottom'" ng-if="filter.predicate === 'fee'" /></th>
                <th role="button" data-ng-class="filter.predicate === 'confirmations' ? 'text-primary' : 'text-muted'" data-ng-click="filter.order('confirmations')">
                    <span>Confirmations</span><i class="glyphicon pull-right" data-ng-class="filter.reverse ? 'glyphicon-triangle-top' : 'glyphicon-triangle-bottom'" ng-if="filter.predicate === 'confirmations'" /></th>
            </tr>
        </thead>
        <tbody>
            <tr data-transaction-item data-address="address" data-tx="tx" data-ng-repeat="tx in txs.results | orderBy:$root.natural(filter.predicate):filter.reverse track by tx.id"></tr>
        </tbody>
    </table>
</div>
<div class="progress progress-striped active" data-ng-if="txs.loading">
    <div class="progress-bar progress-bar-loading" style="width: 100%">
        <span>Loading Transactions...</span>
    </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="Less/More Transactions" data-ng-hide="txs.disabled()">
    <div class="btn-group" role="group">
        <button class="btn btn-default less-button" data-ng-disabled="!txs.lessData" data-ng-click="txs.loadLess()">Less</a>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-default more-button" data-ng-disabled="!txs.moreData" data-ng-click="txs.loadMore()">More</a>
    </div>
</div>
